# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/*
/.astro/*

# testing
/coverage/*
/dist/*
/.tmp/*
/.astro/types.d.ts

# misc
.DS_Store
**/.DS_Store
.env.local
Thumbs.db
desktop.ini

# IDE
*.sublime-*
/.idea
.vscode/*
*~

# environment variables
.env
.env.production

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.astro/astro/**