---
import "@/assets/styles/page.css";
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";
import { getCollection, getEntry, render } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs?.map((blog) => ({
    params: { blog: blog.id }
  }));
}
const { blog } = Astro.params;
const entry = await getEntry("blogs", `${blog}`);
const { Content } = await render(entry!);
---

<BaseLayout meta={{ title: `blog : ${blog}` }}>
  <div class="h-screen">
    <TitleLayout title="Blogs" />
    <Content />
  </div>
</BaseLayout>
