---
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";
---

<BaseLayout meta={{ title: "Dashboard" }}>
  <div class="container__dashboard">
    <TitleLayout title="Dashboard" />
    <article>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae error repellendus quis iusto commodi
      alias suscipit? Aliquam pariatur doloremque voluptas numquam. Rem itaque nobis voluptate voluptatem labore
      repudiandae debitis.
    </article>
  </div>
</BaseLayout>
